body{
     background-image: image("Whatsapp Image.jpg");
}
.weather{
     border-color: black;
     border-radius: 1%;
     margin-left: 100px;
     margin-right: 800px;
     background-color: rgb(88, 234, 224);
}
h1{
     color: rgb(0, 0, 0);
}
.img{
     margin-left: 100px;
     width: 500px;
     height: 400px;
}